name: Bandit

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
  
jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        
      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
